-i https://pypi.org/simple/
backcall==0.2.0
beautifulsoup4==4.9.3
blis==0.7.4
bs4==0.0.1
cachetools==4.2.2
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
cytoolz==0.11.0
decorator==4.4.2
html5lib==1.0.1
idna==2.10
ipykernel==5.1.1
ipython-genutils==0.2.0
ipython==7.22.0
jedi==0.18.0
jinja2==2.11.3
joblib==1.0.1
jupyter-client==6.2.0
jupyter-core==4.7.1
markupsafe==1.1.1
mistune==0.8.4
murmurhash==1.0.5
nest-asyncio==1.5.1
networkx==2.5.1
numpy==1.20.2
packaging==20.9
parso==0.8.2
pathy==0.5.2
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
preshed==3.0.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pydantic==1.7.3
pyemd==0.5.1
pygments==2.8.1
pyparsing==2.4.7
pyphen==0.10.0
python-dateutil==2.8.1
python-levenshtein==0.12.2
pyzmq==22.0.3
regex==2019.6.8
requests==2.25.1
scikit-learn==0.20.4
scipy==1.6.3
six==1.15.0
smart-open==3.0.0
soupsieve==2.2.1 ; python_version >= '3.0'
spacy-legacy==3.0.5
spacy==3.0.6
srsly==2.4.1
textacy==0.7.0
thinc==8.0.3
timeout-decorator==0.4.1
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typer==0.3.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.25.8
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.4.1 ; python_version < '3.8'
